<div>
    <% if (req.session.user) { %>

        <h1><%= `Olá ${userEmail}` %></h1>
        <a href="/account/logout">Logout</a>

        <h3>Seus dados:</h3>
        <p><%= `Email: ${userEmail}` %></p>
        <p><%= `ID: ${userId}` %></p>
        <p><%= `Adm: ${userAdm}` %></p>
        
        
        <form method="POST" action="/account/edit-user">
            <input type="email" name="email" placeholder="Enter new email">
            <input type="password" name="password" placeholder="Enter new password">
            <button type="submit">Update (Necessário fazer login novamente)</button>
        </form>

        <a href="/account/delete">Deletar conta</a>
        
    <% } else { %>

        <h1>Necessário iniciar sessão</h1>

        <a href="/create-user">Inicie sessão aqui</a>

    <% } %>
</div>