<div class="idPage">
    <% if (req.session.user) { %>

        <section class="row m-auto ps-4">
            <!-- Cabeçalho da seção de conta -->
            <div class="row border-bottom border-dark align-items-center">
                <h2 class="col mb-0">Minha Conta</h2>
                <button type="button" class="btn btn-outline-secondary col-lg-2 col-sm-4 col-6 m-1" onclick="location.href='/create-user'">Criar Nova Conta</button>
            </div>
            <!-- Parte dos dados de cadastro -->
            <div class="row">
                <div class="mt-4 col-lg-4 col-md-6 col-sm-8 col-10">
                    <h4>Dados de Cadastro</h4>
                    <!-- E-mail Atual -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-originalEmail">E-Mail Atual</span>
                        <input type="text" disabled class="form-control caseSensitiveFont" value=<%= userEmail %> aria-label="Username" aria-describedby="inputGroup-originalEmail" >
                    </div>
                    <!-- ID da Conta -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-originalId">ID da Conta</span>
                        <input type="text" disabled class="form-control caseSensitiveFont" value=<%= userId %> aria-label="Username" aria-describedby="inputGroup-originalId" >
                    </div>
                    <!-- Status de Administrador -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-admAccount">Status de Administrador</span>
                        <input type="text" disabled class="form-control caseSensitiveFont" value=<%= userAdm %> aria-label="Username" aria-describedby="inputGroup-admAccount" >
                    </div>
                </div>
            </div>
            <!-- Parte de alteração de cadastro -->
            <div class="row">
                <div class="mt-4 col-lg-4 col-md-6 col-sm-8 col-10">
                    <h4>Alterar Cadastro</h4>
                    <form method="POST" action="/account/edit-user">
                        <!-- Alterar E-Mail -->
                        <div class="col input-group mb-3">
                            <span class="input-group-text" id="inputGroup-newEmail">Novo E-mail</span>
                            <input type="email" required name="email" placeholder="email@exemplo.com" class="form-control caseSensitiveFont" aria-label="Username" aria-describedby="inputGroup-newEmail" >
                        </div>
                        <!-- Alterar Senha -->
                        <div class="col input-group mb-3">
                            <span class="input-group-text" id="inputGroup-newPassword">Nova Senha</span>
                            <input type="password" required name="password" class="form-control caseSensitiveFont" aria-label="Username" aria-describedby="inputGroup-newPassword" >
                        </div>
                        <!-- Alterar Estado de Adm -->
                        <% if (userAdm === "on") { %>
                            <div class="my-3 form-check form-switch">
                                <input type="checkbox" class="form-check-input" role="switch" id="admAccount" name="adm" placeholder="Enter adm">
                                <label for="admAccount">Conta Administradora</label>
                            </div>
                        <% } %>
                        <!-- Grupo de Botões de "Atualizar" e "Apagar Conta" -->
                        <div class="d-flex justify-content-between">
                            <!-- Modal de Apagar Conta -->
                            <div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModal" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Cabeçalho do Modal -->
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Apagar Conta</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <!-- Corpo do Modal -->
                                        <div class="modal-body">
                                            <h2>Tem certeza que deseja apagar sua conta permanentemente?</h2>
                                            <h6 class="caseSensitiveFont">Não haverá forma de recuperar sua conta ou seus dados.</h6>
                                        </div>
                                        <!-- Rodapé do Modal -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-danger" onclick="location.href='/account/delete'">Apagar Conta</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Botão que ativa modal de Apagar Conta -->
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">Apagar Conta</button>
                            <!-- Modal de Atualizar Conta -->
                            <div class="modal fade" id="updateAccountModal" tabindex="-1" aria-labelledby="updateAccountModal" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Cabeçalho do Modal -->
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Atualizar dados cadastrais</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <!-- Corpo do Modal -->
                                        <div class="modal-body">
                                            <h2>Tem certeza que deseja alterar seus dados?</h2>
                                            <h6 class="caseSensitiveFont">Você será desconectado de sua conta após atualizar os dados.</h6>
                                        </div>
                                        <!-- Rodapé do Modal -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-warning">Atualizar Dados</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Botão que ativa modal de Atualizar Conta -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateAccountModal">Atualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        
    <% } else { %>

        <h1 class="ps-4 border-bottom border-dark">Minha Conta</h1>
        <h4 class="ps-4 my-4 caseSensitiveFont">Faça login em sua conta para acessar e alterar seus dados.</h4>
        <span class="ps-4 caseSensitiveFont">Não tem conta?</span>
        <button type="button" class="mx-2 my-4 btn btn-outline-primary" onclick="location.href='<%= `/create-user` %>'">Criar Conta</button>

    <% } %>
</div>