<div>
    <h1>Register new user</h1>

    <form method="POST" action="/create-user/register">
        <input type="email" name="email" placeholder="Enter email">
        <input type="password" name="password" placeholder="Enter password">
        <% if (userAdm === "on") { %>
            <label for="adm">adm</label>
            <input type="checkbox" name="adm" placeholder="Enter adm">
        <% } %>
        <button type="submit">Register</button>
    </form>

    <h1>Already have an account? Login</h1>

    <form method="POST" action="/create-user/login">
        <input type="email" name="email" placeholder="Enter email">
        <input type="password" name="password" placeholder="Enter password">
        <button type="submit">Iniciar Sessão</button>
    </form>
    
</div>