<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register new user</h1>

    <form method="POST" action="/create-user/register">
        <input type="email" name="email" placeholder="Enter email">
        <input type="password" name="password" placeholder="Enter password">
        <label for="adm">adm</label>
        <input type="checkbox" name="adm" placeholder="Enter adm">
        <button type="submit">Register</button>
    </form>

    <h1>Already have an account? Login</h1>

    <form method="POST" action="/create-user/login">
        <input type="email" name="email" placeholder="Enter email">
        <input type="password" name="password" placeholder="Enter password">
        <button type="submit">Iniciar Sessão</button>
    </form>
    
</body>
</html>