
<div id="landingPage">
    <main class="d-flex justify-content-center">
        <h1 class="display-1">TITAN Outfits</h1>
        <h6 class="text-center">Aqui você pode se tornar um titã do estilo. Seu próprio estilo. 
            Acesse nossa página de produtos para conhecer um pouco mais e montar seu look! 
            Ah, e não se esqueça de se cadastrar em nossa loja, para adicionar produtos na lista de desejos e mais!
        </h6>
    </main>
</div>
