<div>
    <main class="p-4 cover-container mx-auto absolutePosition">

        <div class="d-flex justify-content-center mainTitle">
            <h1 class="row display-1 text-center">TITAN Outfits</h1>
        </div>

        <div class="d-flex justify-content-center">
            <p class="lead text-center col-10 caseSensitiveFont">Aqui você pode se tornar um titã do estilo. 
                Acesse nossa página de produtos para conhecer um pouco mais e montar seu look! 
                Ah, e não se esqueça de se cadastrar em nossa loja!
            </p>
        </div>

        <div class="d-flex justify-content-center">
            <button type="button" onclick="location.href='<%= `/about` %>'" class="btn btn-outline-primary idFont">Saiba Mais</button>
        </div>

    </main>
</div>
