<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (!req.session.user || userAdm != "on") { %>

        <h1>Acesso Restrito</h1>

    <% } else {%>

        <h1>Create Product</h1>

        <form method="POST" action="/manage-products/create-product">
            <input type="text" name="name" placeholder="Enter Name">
            <input type="text" name="price" placeholder="Enter Price">
            <input type="text" name="stock" placeholder="Enter Stock">
            <button type="submit">Submit</button>
        </form>

        <h1>List of Products</h1>

        <% if (products.length) { %>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(function(product) {  %>
                        <tr>
                            <td><%= product.name %></td>
                            <td><%= product.price %></td>
                            <td><%= product.stock %></td>
                            <td>
                                <a href=<%= `/manage-products/edit-product/${product.id}` %>>Edit</a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } else {%>
            <h3>No products found</h3>
        <% } %>

    <% } %>
</body>
</html>