/* Universal */

body {
    background-color: #EDE8E8;
}

#bodyDiv {
    min-height: calc(100vh - 100px - 5rem);
}

footer {
    background-color: #E2E2E2;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.caseSensitiveFont {
    font-family: "Montserrat";
}

.idPage {
    max-width: 100%;
    margin-top: 2rem;
    font-family: "Bebas Neue"
}

.testBorder {
    border: 1px solid red;
}

/* Navbar */

.navbar {
    position: fixed;
    background-color: #E2E2E2;
    max-height: 5rem;
    z-index: 2;
    opacity: 0.8;
}

.navbar:hover{
    opacity: 1;
}

.navbar-nav {
    font-family: "Bebas Neue";
    font-size: 2rem;
}

#myNavbarItems {
    position: relative;
    width: max-content;
}

#collapsibleItems {
    position: absolute;
    right: 0px;
    background-color: #E2E2E2;
    padding-left: 20px;
    padding-right: 20px;
}

.item-dropdown-user {
    font-family: "Bebas Neue";
}

.encaixe-de-imagem {
    object-fit: contain;
    height: 3em;
}

/* Landing Page */

#landingPage > main > h1 {
    position: absolute;
    color: #f2a900;
    text-shadow: 2px 2px 5px black;
    top: 40%;
    transform: translate(0, -50%);
    font-family: "Bebas Neue";
}

#landingPage > main > h6 {
    position: absolute;
    color:aliceblue;
    background: rgba(120, 104, 104, 0.8);
    padding: 15px;
    border-radius: 10px;
    top: 40%;
    transform: translate(0, 50%);
    max-width: 75%;
    font-family: "Montserrat";
}

/* registroPage */
